/* CSS Document */
body {
    margin: 0;
    background: #fff;
    color: #333;
    font-family: 'Pingfang SC','Lantinghei SC','Helvetica Neue',Helvetica,sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-print-color-adjust: exact
}
h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: inherit
}
ul,ol {
    list-style-type: none
}
p,ul,ol {
    text-align: justify;
    text-justify: inter-ideograph;
    line-height: 1.7
}
img {
    border: 0;
    vertical-align: top
}
a,a:visited {
    text-decoration: none;
    color: #08c
}
a:hover {
    text-decoration: underline
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden
}
.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: '.'
}
@media(max-width:749px) {
    .boundary {
        margin: 0 20px;
        clear: both
    }
}
@media(min-width:750px) {
    .boundary {
        max-width: 980px;
        margin: 0 auto;
        clear: both
    }
}
@media(min-width:750px) and (max-width:1040px) {
    .boundary {
        max-width: auto;
        margin: 0 30px
    }
}
.list>li {
    list-style: disc;
    margin-left: 1.3em
}
.list {
    float: left;
    margin-right: 90px
}
.button {
    background: #1d9bd9;
    background: -webkit-linear-gradient(#3baee7,#08c);
    background: linear-gradient(#3baee7,#08c);
    color: #f6f6f6;
    border-radius: .4em;
    padding: 0 .5em
}
a.button {
    display: inline-block
}
.button:visited {
    color: #f6f6f6
}
.button:hover {
    color: #fff;
    background: #2fa2dc;
    background: -webkit-linear-gradient(#4ab4e8,#1491d0);
    background: linear-gradient(#4ab4e8,#1491d0);
    text-decoration: none
}
.only-for-print {
    display: none
}
.not-for-print {
    display: block
}
.header {
    border-bottom: 1px solid #d6d6d6;
    line-height: 1;
    padding: 15px 0
}
.header__logo__fullname {
    font-size: 2em;
    font-family: 'PingHei','STHeiti SC','SimHei'
}
.header__logo__jobtitle {
    color: #888
}
.header__address {
    font-style: normal;
    line-height: 21px;
    font-size: .875em
}
.header__address__item {
    padding-left: 24px;
    background: url(../img/icon-sprites.png) no-repeat;
    background-size: 20px auto;
    margin-top: 8px;
    height: 20px;
    line-height: 20px
}
.header__address__item-phone {
    background-position: 0 0
}
.header__address__item-qq {
    background-position: 0 -28px
}
.header__address__item-email {
    background-position: left bottom
}
.header__address__item-blog {
    padding-left: 0;
    background: 0
}
.header__address .button {
    font-size: .86em
}
@media(max-width:319px) {
    .header__logo {
        margin-bottom: 12px;
        line-height: 1.3
    }
    .header__logo__jobtitle {
        display: block
    }
}
@media(min-width:320px) {
    .header__logo {
        line-height: 40px;
        height: 40px
    }
    .header__logo__jobtitle {
        padding-left: 10px
    }
}
@media(min-width:480px) {
    .header__address__item {
        float: left;
        margin-right: 22px
    }
    .header__address__item-blog {
        float: right;
        margin-right: 0
    }
}
@media(min-width:750px) {
    .header {
        width: 100%;
        height: 40px;
        position: fixed;
        z-index: 99999;
        overflow: hidden;
        background: rgba(255,255,255,0.95)
    }
    .header .boundary {
        position: relative
    }
    .header__logo {
        position: relative;
        float: left
    }
    .header__logo__fullname {
        font-size: 2.5em
    }
    .header__logo__jobtitle {
        position: absolute;
        left: 100%;
        bottom: 0;
        line-height: 20px;
        white-space: nowrap
    }
    .header__address {
        position: absolute;
        right: 0;
        bottom: 0
    }
    .header__address__item {
        margin-left: 28px;
        margin-right: 0
    }
    .main {
        padding-top: 71px
    }
}
.section:nth-child(even) {
    background: #fafafa
}
.section__header {
    text-shadow: 1px 1px 0 #fff;
    line-height: 1.4
}
.section__header__title,.section__header__subtitle {
    font-family: 'Microsoft JhengHei','Microsoft YaHei','STHeiti SC','SimHei';
    text-align: center
}
.section__header__subtitle {
    color: #999
}
@media(max-width:749px) {
    .section .boundary {
        padding: 25px 0
    }
    .section__header {
        margin-bottom: 20px
    }
    .section__header__title {
        font-size: 1.625em
    }
    .section__header__subtitle {
        font-size: 1.25em
    }
}
@media(min-width:750px) {
    .section .boundary {
        padding: 35px 0
    }
    .section__header {
        margin-bottom: 30px
    }
    .section__header__title {
        font-size: 2.5em
    }
    .section__header__subtitle {
        font-size: 2.125em
    }
}
.tech-skill-list__item {
    position: relative;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}
.tech-skill-list__item-html {
    -webkit-animation-name: bar-html;
    animation-name: bar-html
}
@-webkit-keyframes bar-html {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@keyframes bar-html {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
.tech-skill-list__item-css {
    width: 90%;
    -webkit-animation-name: bar-css;
    animation-name: bar-css
}
@-webkit-keyframes bar-css {
    0% {
        width: 0
    }
    100% {
        width: 90%
    }
}
@keyframes bar-html-and-css {
    0% {
        width: 0
    }
    100% {
        width: 90%
    }
}
.tech-skill-list__item-JavaScript {
    width: 75%;
    -webkit-animation-name: bar-JavaScript;
    animation-name: bar-JavaScript
}
@-webkit-keyframes bar-JavaScript {
    0% {
        width: 0
    }
    100% {
        width: 75%
    }
}
@keyframes bar-JavaScript {
    0% {
        width: 0
    }
    100% {
        width: 75%
    }
}
.tech-skill-list__item-AJAX {
    width: 60%;
    -webkit-animation-name: bar-AJAX;
    animation-name: bar-AJAX
}
@-webkit-keyframes bar-AJAX {
    0% {
        width: 0
    }
    100% {
        width: 60%
    }
}
@keyframes bar-AJAX {
    0% {
        width: 0
    }
    100% {
        width: 60%
    }
}
.tech-skill-list__item-AngularJS {
    width: 55%;
    -webkit-animation-name: bar-AngularJS;
    animation-name: bar-AngularJS
}
@-webkit-keyframes bar-AngularJS {
    0% {
        width: 0
    }
    100% {
        width: 55%
    }
}
@keyframes bar-AngularJS {
    0% {
        width: 0
    }
    100% {
        width: 55%
    }
}
.tech-skill-list__item-PHP {
    width: 50%;
    -webkit-animation-name: bar-PHP;
    animation-name: bar-PHP
}
@-webkit-keyframes bar-PHP {
    0% {
        width: 0
    }
    100% {
        width: 50%
    }
}
@keyframes bar-PHP {
    0% {
        width: 0
    }
    100% {
        width: 50%
    }
}
.tech-skill-list__item__name {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    overflow: hidden;
    border-left: 3px solid;
    color: #ff742a;
    background-color: #fff6dd;
    border-color: #fdbc40
}
.tech-skill-list__item--practised .tech-skill-list__item__name {
    color: #6e9c0f;
    background-color: #eaf6d0;
    border-color: #80bd01
}
.tech-skill-list__item--mastered .tech-skill-list__item__name {
    color: #2a7da9;
    background-color: #d6efff;
    border-color: #3498db
}
.tech-skill-list__item__detail {
    position: absolute;
    left: 150px;
    top: 12px;
    z-index: 9999;
    max-width: 350px;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    display: none
}
@media(max-width:749px) {
    .tech-skill-list__item {
        margin-bottom: 15px
    }
}
@media(min-width:750px) {
    .tech-skill-list__item {
        margin-bottom: 20px
    }
    .tech-skill-list__item:hover .tech-skill-list__item__detail {
        display: block;
        font-size: .875em
    }
    .fade {
        -webkit-animation: fadeIn .8s;
        animation: fadeIn .8s
    }@    -webkit-keyframes fadeIn {
        0%{display: none;
        opacity: 0
    }
    1% {
        display: block;
        opacity: 0
    }
    100% {
        display: block;
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0
    }
    1% {
        display: block;
        opacity: 0
    }
    100% {
        display: block;
        opacity: 1
    }
}}
@media(max-width:959px) {
    .edu {
        margin-top: 25px;
        padding-bottom: 15px;
        border-bottom: 2px dashed #ccc
    }
    .edu-university {
        border-bottom: 0;
        padding-bottom: 0
    }
    .edu__logo {
        max-width: 150px;
        min-width: 120px;
        margin: 0 0 10px 20px;
        float: left
    }
}
@media(min-width:960px) {
    .edu {
        float: left;
        box-sizing: border-box
    }
    .edu-seniorschool {
        padding-right: 4%
    }
    .edu-university {
        padding-left: 4%
    }
    .edu-seniorschool .edu__body {
        padding-right: 180px
    }
    .edu-university .edu__body {
        padding-left: 180px
    }
    .edu__logo {
        width: 150px
    }
    .edu-seniorschool .edu__logo {
        float: right;
        margin-right: -180px
    }
    .edu-university .edu__logo {
        float: left;
        margin-left: -180px
    }
}
.work-exp-list {
    border-left: 4px solid #ccc;
    padding: 1px 0;
    margin-left: 8px
}
.work-exp-list__point {
    position: relative;
    padding-left: 15px;
    margin: 15px 0;
    height: 26px;
    line-height: 26px
}
.work-exp-list__point__ico {
    width: 18px;
    height: 18px;
    border: 3px solid #fff;
    border-radius: 12px;
    background: #3498db;
    position: absolute;
    left: -14px;
    top: 0
}
.work-exp-list__company {
    margin-left: 20px
}
.work-exp-list__company__header {
    line-height: 1
}
.work-exp-list__company__header__logo {
    width: 100px;
    display: block
}
.work-exp-list__company__header__logo img {
    width: 100%
}
.work-exp-list__company__header__title {
    font-size: 1.2em;
    font-weight: bold
}
.work-exp-list__company__header__jobtitle {
    color: #888
}
.work-exp-list__company__body {
    margin-top: 4px
}
@media(max-width:639px) {
    .work-exp-list__company__logo {
        display: block;
        margin-bottom: 8px
    }
    .work-exp-list__company__header__title {
        margin-top: 10px;
        color: blue
    }
    .work-exp-list__company__header__jobtitle {
        margin-top: 2px
    }
}
@media(min-width:640px) {
    .work-exp-list__company {
        margin-top: 30px;
        margin-bottom: 30px
    }
    .work-exp-list__company__header {
        position: relative;
        padding-left: 115px
    }
    .work-exp-list__company__header__logo {
        position: absolute;
        left: 0;
        top: 0
    }
    .work-exp-list__company__header__title,.work-exp-list__company__header__jobtitle {
        display: inline-block
    }
    .work-exp-list__company__header__jobtitle:before {
        content: '\2014\2014';
        padding-right: 4px
    }
    .work-exp-list__company__body {
        padding-left: 115px
    }
}
.project {
    border-bottom: 2px dashed #ccc
}
.project:last-child {
    border-bottom: 0;
    margin-bottom: 0
}
.project__intro__header {
    margin-bottom: 6px;
    position: relative
}
.project__intro__header__title {
    font-size: 1.2em;
    font-weight: bold
}
.tech-tag-list__item {
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: .75em;
    font-family: 'Lucida Grande',arial
}
.tech-tag-list__item-javascript {
    background: #f0db4f;
    color: #333!important
}
.tech-tag-list__item-nodejs {
    background: #80bd01
}
.tech-tag-list__item-html {
    background: #f60
}
.tech-tag-list__item-css {
    background: #f90
}
.tech-tag-list__item-aspdotnet {
    background: #68217a
}
.tech-tag-list__item-sqlite {
    background: #003b57
}
.tech-tag-list__item-mysql {
    background: #015a84
}
.project__intro__header__period {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #888
}
.project__intro__links {
    margin-top: 10px;
    text-align: right;
    word-spacing: 1em
}
.project__thumb img {
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,0.15)
}
@media(max-width:749px) {
    .project {
        margin-bottom: 26px;
        padding-bottom: 16px
    }
    .project__thumb {
        width: 90%;
        margin: 12px auto 0 auto
    }
    .project__intro__header__title {
        padding-bottom: 3px
    }
}
@media(min-width:750px) {
    .project {
        margin-bottom: 36px;
        padding: 0 0 20px 10px
    }
    .project__intro {
        width: 100%;
        float: left
    }
    .project__intro__header {
        margin-top: -2px
    }
    .project__intro__header__title {
        padding-bottom: 3px
    }
    .project__thumb {
        float: right
    }
    .project--nothumb {
        padding-right: 10px!important
    }
}
@media(min-width:750px) and (max-width:959px) {
    .project {
        padding-right: 290px
    }
    .project__thumb {
        width: 250px;
        margin-right: -280px
    }
}
@media(min-width:960px) {
    .project {
        padding-right: 380px
    }
    .project__thumb {
        width: 320px;
        margin-right: -370px
    }
}
.footer {
    border-top: 1px solid #e8e8e8;
    color: #888;
    font-size: .875em
}
.footer .boundary {
    padding: 15px 0
}
.footer__qrcode__img {
    width: 60px;
    height: 60px;
    float: left
}
.footer__qrcode__text {
    margin: 7px 0 0 10px;
    float: left
}
.footer__copyright p {
    text-align: left
}
.footer__copyright__comment {
    font-size: .86em
}
@media(max-width:749px) {
    .footer__copyright {
        margin-top: 8px
    }
}
@media(min-width:750px) {
    .footer__qrcode {
        float: left
    }
    .footer__copyright {
        margin-top: 7px;
        float: right
    }
    .footer__copyright p {
        text-align: right
    }
}
function echo(stringA,stringB) {
    var hello="ÄãºÃ";alert("hello world")
}
.project__thumb img {
    transition: all 0.3s;
}